---
layout: default.njk
---
<header style="text-align: center">
  <image src="assets/logo.svg" width="200"></image>
  <h1>kili kipisi</h1>
  <p>tan jan Pensamin</p>
</header>
<hr>
<nav role="navigation">
<ul>
{% for post in search.pages("lipu") %}
<li>
  <time datetime="{{ post.data.date.toISOString() }}">{{ post.data.date | date }}</time>
  <a class="heading" class="heading" href="{{ post.data.url }}">{{ post.data.title }}</a>
  {% for tag in post.data.tags %}
    {% if tag != "lipu" %}
    <span class="tag">#{{tag}}</span>
    {% endif %}
  {% endfor %}
</li>
{% endfor %}
</ul>
</nav>
