:root {
  --text-color: #fff;
  --background-color: #b34040;
  --anchor-color: #f3d37b;
  --shadow: 2px 2px 4px #0006;
  --font-monospace: 'Fira Mono', monospace;
  --font-serif: 'Merriweather', serif;
  --font-sans-serif: 'Merriweather Sans', sans-serif;
  --font-display: 'Bebas Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 37.5rem;
  margin: 4rem auto;
  padding: 1rem;
  font-family: var(--font-serif);
  line-height: 1.5;
  color: var(--text-color);
  text-shadow: var(--shadow);
  background-color: var(--background-color);
}

p {
  break-inside: avoid;
}

header {
  margin-block: 2rem;
}

:not(header) > :is(h1, h2, h3, h4, h5, h6) {
  margin-block: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans-serif);
}

nav > ul {
  list-style: none;
}

figure {
  margin-block: 2rem;
}

figcaption {
  margin-block-start: 0.6rem;
}

img, figure > svg {
  filter: drop-shadow(var(--shadow));
  max-width: 100%;
}

code {
  font-family: var(--font-monospace);
}

pre > code {
  display: block;
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0.6rem 0;
}

hr {
  margin: 3rem 0;
  background-color: var(--text-color);
  box-shadow: var(--shadow);
  height: 0.1875rem;
  border-radius: 0.1875rem;
  width: 100%;
  border: none;
}

textarea {
  width: 100%;
  padding: 1rem;
  margin-block: 1rem;
  margin-inline: 0;
}

@media print {
  :root {
    --text-color: #000;
    --background-color: none;
    --anchor-color: navy;
    --shadow: none;
  }

  a {
    text-decoration: underline;
  }

  p.back {
    display: none;
  }

  hr {
    all: revert;
  }
}
