---
layout: default
---
<header style="display: flex; gap: 1rem; align-items: flex-end">
{% include logo.html width=100 %}
<p style="font-family: var(--font-sans-serif); font-size: 1.4rem">kili kipisi</p>
</header>
<hr>
<p class="back"><a href="/">&larr; o tawa tomo</a></p>
<header>
  <h1>{{ page.title }}</h1>
  <time datetime="{{ page.date }}" style="font-size: smaller">{{ page.date | date: "%Y-%m-%d" }}</time>
  {% for tag in page.tags %}
    <span class="tag" style="font-size: smaller; opacity: 0.7; margin-inline: 0.2rem;">#{{ tag }}</span>
  {% endfor %}
</header>
{{ content }}
